.about {
  .container {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .box-wrap {
    display: flex;
    background: #f2f2f2;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    vertical-align: baseline;
    div:last-child {
      margin-left: auto;
    }
    .fa {
      padding: 18px;
    }
    span {
      font-weight: 600;
    }
    .paragrapth-title,
    .fa {
      font-size: 19px;
    }
    .right-icon .fa {
      font-size: 12px;
      font-weight: 100;
      color: #c1c0c0;
    }
    .first-icon {
      color: #585858;
    }
  }

  //header
  .wrap-text-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    .line-1 {
      height: 3px;
      width: 60px;
      background-color: #ffbc13;
      margin-top: -1.5px;
    }
    h1 {
      color: #222;
    }
  }
}
