/* -- Parallax Window -- */
.parallax-window {
  padding: 50px 155px;
  background: transparent;
}

.imgparallax {
  z-index: 2;
  position: relative;
  height: 180px;
  /*margin-top: 50px;*/
}

.our-work {
  div {
    color: rgb(43, 43, 43);
    z-index: 2;
  }
  .carousel-item img {
    height: auto;
  }
  i.fa.fa-chevron-right,
  i.fa.fa-chevron-left {
    color: #ffbc13;
    &:hover {
      color: #b18412;
    }
  }
  ::before {
    background-color: transparent;
    border: 2px solid #ffbc13;
    padding: 7px;
  }
  :hover::before {
    background-color: transparent;
    border: 2px solid #b18412;
    transition: $transition;
  }
  .controls-top {
    float: right;
    margin-bottom: 30px;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(#2220, #222222e3);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.3s ease;
  }
  .card:hover .overlay {
    height: 100%;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
