* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-dark {
  background-color: #00000033 !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  position: absolute;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffbc13 !important;
}

.top-nav {
  width: 100%;
  color: #fff;
}

#top-bar.style-2 .upper-nav {
  text-align: right;
}

#top-bar .upper-nav {
  display: table-cell;
  margin: 0;
  text-align: left;
  vertical-align: middle;
  width: 75%;
}

span#top-bar-text {
  color: #fff;
}

span.icons a {
  color: #fff;
  margin-right: 22px;
}

#top-bar-text span {
  font-size: 2px;
}

#top-bar-text i.fa {
  margin-left: 13px;
  margin-right: 3px;
}

.inner,
.upper-nav {
  padding-bottom: 6px;
}

.upper-nav {
  font-size: 12px;
}

div#navbarMenu {
  height: 84px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  border-top: 1px solid #bfbdbd61;
}

.navbar a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff !important;
}

.navbar a:hover {
  color: #ffbc13 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a.nav-link {
  font-size: 14px;
  font-weight: 500;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .navbar.mobile {
    display: none;
  }
  .navbar {
    padding: 0.5rem 0rem;
  }
  .top-nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  a.navbar-brand {
    padding-left: 7rem;
  }
  ul.nav.navbar-nav.ml-auto {
    padding-right: 7rem;
  }
}

@media (max-width: 780px) {
  .navbar.desktop {
    display: none;
  }
  .navbar.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#home {
  position: relative;
}

.carousel-item img {
  height: 100vh;
}

.carousel-item .sm-text,
.carousel-item .sm-text span {
  font-family: "Vollkorn", serif !important;
  font-size: 29px;
}

.carousel-item .lg-text {
  font-size: 70px;
  font-weight: 700;
}

.carousel-item .masthead-text {
  color: #ffbc13;
}

.carousel-item a.pc-btn.size-btn.border-btn {
  margin-bottom: 106px;
}

.carousel-caption.d-md-block.left {
  text-align: left !important;
}

.pc-btn.size-btn {
  padding: 0.8em 2.6em;
  font-size: 1.142em;
}

.pc-btn.border-btn {
  border-radius: 3px;
}

.pc-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: inline-block;
  padding: 0.65em 2.5em;
  background-color: #ffbc13;
  border: 2px solid #ffbc13;
  color: #fff;
  -webkit-transition: all ease 0.238s;
  transition: all ease 0.238s;
}

.pc-btn:hover {
  background-color: #222;
  border: 2px solid #222;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

/* -- Media Queries -- */
@media (max-width: 990px) {
  .carousel-item img {
    height: 100vh;
  }
  .carousel-item .sm-text,
  .carousel-item .sm-text span {
    font-size: 22px;
  }
  .carousel-item .lg-text {
    font-size: 45px;
    font-weight: 700;
  }
  .carousel-item .masthead-text {
    color: #ffbc13;
  }
  .carousel-item .pc-btn.size-btn {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
  .carousel-item a.pc-btn.size-btn.border-btn {
    margin-bottom: 176px;
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 100vh;
  }
  .carousel-item .sm-text,
  .carousel-item .sm-text span {
    font-size: 19px;
  }
  .carousel-item .lg-text {
    font-size: 25px;
    font-weight: 700;
  }
  .carousel-item .masthead-text {
    color: #ffbc13;
  }
  .carousel-item .pc-btn.size-btn {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
  .carousel-item a.pc-btn.size-btn.border-btn {
    margin-bottom: 166px;
  }
  .carousel-item .carousel-caption.d-md-block.left {
    text-align: center !important;
  }
}

.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.8s both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.scale-in-ver-bottom {
  -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
  animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

.scale-in-hor-left {
  -webkit-animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.9s both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.9s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.quote {
  background-color: #ffbc13;
  padding-top: 2.1%;
  padding-bottom: 2.1%;
}

.quote p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-top: 16px;
}

.quote .pc-btn {
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: inline-block;
  padding: 0.95em 2.4em;
  background-color: #fff;
  border: 2px solid #fff;
  color: #222;
  float: right;
  -webkit-transition: all ease 0.238s;
  transition: all ease 0.238s;
}

.quote .pc-btn:hover {
  background-color: #222;
  border: 2px solid #222;
  color: white;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.quote .pc-btn.size-btn {
  padding: 0.8em 2.6em;
  font-size: 0.85em;
}

/* -- Media Queries -- */
@media (max-width: 990px) {
  .quote {
    text-align: center;
  }
  .quote p {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .quote .pc-btn {
    float: none;
    margin-bottom: 20px;
  }
  .quote .pc-btn.size-btn {
    padding: 0.6em 1.6em;
    font-size: 0.75em;
  }
}

@media (max-width: 576px) {
  .quote p {
    font-size: 15px;
  }
  .quote .pc-btn {
    float: none;
  }
}

/* -- Parallax Window -- */
.parallax-window {
  padding: 50px 155px;
  background: transparent;
}

.imgparallax {
  z-index: 2;
  position: relative;
  height: 180px;
  /*margin-top: 50px;*/
}

.our-work div {
  color: #fff;
  z-index: 2;
}
/*# sourceMappingURL=main.css.map */